*{
    margin: 0;
    padding: 0;
    }
    h1{
font-size: 25px;
color: black;
    }
    .card > img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    height: 150px;
    }
    .card{
    height: auto;
    width: 21%;
    margin: 1%;
    padding: 1%;
    border-radius: 16px;
    background-color: bisque;
    float: left;
    }
    h1, h3{
        color:white;
    }
    button{
        background-color:yellow;
        margin-top: 40px;
        padding: 10px 30px;
        border-radius: 6px;
        border: none;
        color: black;
        cursor: pointer;
        font-size: 20px;

    }
    ul{
        margin-left: 24px;
        font-size: 19px;
    }   